
<h1>E-Reader</h1>
<%= content_tag "div", id: "contents", data: {words: @reader.array_of_words} do %>
  poop
<% end %>
<%= button_tag "Back", id: "readerBackButton", onclick: 'readerBack()' %>
<%= button_tag "Pause", id: "readerPauseButton", onclick: 'readerPausePlay()' %>
<%= button_tag "Next", id: "readerNextButton", onclick: 'readerNext()'  %>
</br>
Words Per Minute:
<%= select_tag "WPM", options_for_select([['200' ,'200'], ['300', '300'], 
                                                       ['400', '400'], ['450', '450'], 
                                                       ['500', '500'], ['550', '550'], 
                                                       ['600', '600'], ['650', '650']]), 
                                                        onchange: 'changeWPM()' %>
<h1>Text</h1>
<%=@reader.content%>
<h1>Split</h1>
<%=@reader.array_of_words=%>
